.cardHighlight {
  min-height: 100%;
  background-color: #ddedea !important;
}

.navBar {
  background-color: #ddedea !important
}

.abtPage {
  background-color: #ddedea !important
}
.cardForm {
  justify-content: center;
  align-items: center;
  width: 300px;
  max-height: 300px;
}